In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style('whitegrid')
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")

In [3]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [4]:
# checking first few rows of train df
train_df.head()

         Date  store  product  number_sold
0  2010-01-01      0        0          801
1  2010-01-02      0        0          810
2  2010-01-03      0        0          818
3  2010-01-04      0        0          796
4  2010-01-05      0        0          808

In [5]:
# checking first few rows of test df
test_df.head()

         Date  store  product  number_sold
0  2019-01-01      0        0          845
1  2019-01-02      0        0          851
2  2019-01-03      0        0          840
3  2019-01-04      0        0          842
4  2019-01-05      0        0          845

In [8]:
# checking info of our train df
train_df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230090 entries, 0 to 230089
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Date         230090 non-null  object
 1   store        230090 non-null  int64
 2   product      230090 non-null  int64
 3   number_sold  230090 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.0+ MB

### we can see the type of date column is object type,lets change it to correct type

In [9]:
train_df['Date'] = pd.to_datetime(train_df['Date'])

In [10]:
train_df['store'].value_counts()

0    32870
1    32870
2    32870
3    32870
4    32870
5    32870
6    32870
Name: store, dtype: int64